.bbcode-editor-text-area {
  textarea {
    min-height: 150px;
    &:focus {
      box-shadow: 0 0 0 ($input-btn-focus-width / 2) $input-btn-focus-color;
    }
    resize: none;
  }
}

.bbcode-toolbar {
  align-items: flex-start;
  flex-wrap: nowrap;
  @include media-breakpoint-down(md) {
    background: $text-background-color;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: var(--bs-border-radius);
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
    .toolbar-buttons {
      width: 100%;
    }
    .btn {
      margin: 3px;
      border-radius: $btn-border-radius !important;
    }
  }
  @include media-breakpoint-up(md) {
    .btn-close {
      display: none;
    }
    .btn {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: $input-border-width solid $input-border-color;
      border-bottom: 0;
    }
  }
}

.bbcode-btn {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.bbcode-editor-controls {
  display: flex;
  align-items: center;
  float: right;
  order: 1;
  justify-content: flex-end;
  @include media-breakpoint-down(md) {
    flex: 1 49%;
  }
}
