@use 'sass:color';

// Global contrast overrides for active states
.list-group-item.active,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link,
.btn-primary,
.btn-primary:hover,
.btn-primary:active {
  color: color-yiq(theme-color('primary'));
}

.bg-solid-text {
  background: $text-background-color;
}

.link-preview {
  background: $text-background-color;
  border-top-right-radius: 2px;
  bottom: 0;
  left: 0;
  max-width: 40%;
  overflow-x: hidden;
  padding: 0.2em 0.5em;
  font-size: 12px;
  position: fixed;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 100000;

  &.right {
    left: auto;
    right: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
  }
}

.has-new {
  background-color: theme-color-level('danger', 4) !important;
}
@keyframes throb {
  0% {
    background-color: $body-bg;
  }
  65% {
    background-color: $gray-200;
  }
  100% {
    background-color: $body-bg;
  }
}
.throbber {
  animation: throb 2s infinite;
}

.overlay-disable {
  position: absolute;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: #ddd;
  color: #000;
}

.sidebar-wrapper {
  .modal-backdrop {
    display: none;
    z-index: 9;
  }

  &.open {
    z-index: 11;
    .modal-backdrop {
      display: block;
    }
    .body {
      display: block;
    }
  }
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  background: $body-bg;
  z-index: 10;
  flex-shrink: 0;
  margin: -10px;
  padding: 10px;

  .body {
    height: 100%;
    display: none;
    position: relative;
    min-width: 210px;
    max-width: 350px;
    width: 210px;
    flex-direction: column;
    overflow: auto;
  }
  .resize-handle {
    position: absolute;
    top: 0;
    width: 3px;
    height: 100%;
    cursor: ew-resize;
    z-index: 10;
    opacity: 0;
    background-color: $gray-200;
  }
  .resize-handle:hover {
    opacity: 0.5;
  }
  .resize-handle-left {
    left: 0;
  }
  .resize-handle-right {
    right: 0;
  }
  .expander {
    display: block;
    position: absolute;
    padding: 3px 4px;
    border-color: theme-color('secondary');
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    white-space: nowrap;
    @media (min-width: breakpoint-min(sm)) {
      .name {
        display: none;
      }

      &:hover .name {
        display: inline;
      }
    }
  }

  &.sidebar-left {
    border-right: solid 1px $card-border-color;
    left: 0;
    margin-right: 0;
    padding-right: 0;
    & .body {
      padding-left: 10px;
    }

    .expander {
      transform: rotate(270deg) translate3d(0, 0, 0);
      transform-origin: 100% 0;
      -webkit-transform: rotate(270deg) translate3d(0, 0, 0);
      -webkit-transform-origin: 100% 0;
      right: 0;
    }
  }

  &.sidebar-right {
    border-left: solid 1px $card-border-color;
    right: 0;
    margin-left: 0;
    padding-left: 0;
    & .body {
      padding-right: 10px;
    }

    .expander {
      transform: rotate(90deg) translate3d(0, 0, 0);
      transform-origin: 0 0;
      -webkit-transform: rotate(90deg) translate3d(0, 0, 0);
      -webkit-transform-origin: 0 0;
    }
  }

  #sidebarUserInfo {
    border-bottom: solid 1px $card-border-color;
  }
}

@mixin sidebar-fixed() {
  position: static;
  margin: 0;
  padding: 0;
  height: 100%;
  .body {
    display: block;
  }
  .expander {
    display: none;
  }
}

.chat-text-box {
  min-height: initial !important;
  max-height: 250px;
  resize: none;
  @media (max-height: 600px) {
    max-height: 150px;
  }
}

.userInfo-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .userInfo-button-item {
    &:hover,
    &:active {
      text-decoration: none;
      background-color: $gray-200;
    }
    flex: auto;
    padding: 5px 3px 5px 3px;
    min-width: 55px;
    text-align: center;
    font-size: 1.15rem;
    display: inline-block;
    border-radius: 6px;
    transition: 0.2s;
    .userInfo-pager-text {
      font-size: 1rem;
      color: var(--gray-dark);
    }
  }
}

.sidebarUserInfo-user {
  max-width: 70%;
  overflow-x: hidden;
  padding: 0px 5px 6px 5px;
  border-radius: 8px;
  transition: 0.2s;
  &:hover,
  &:active {
    text-decoration: none;
    background-color: $gray-200;
    cursor: pointer;
  }
}
.sidebarUserInfo-name {
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;

  font-weight: 600;
}
#sidebarUserInfo {
  padding-bottom: 7px;
  flex-shrink: 0;
  .sidebarUserInfo-status {
    opacity: 0.7;
  }
  .sidebarUserInfo-name:hover a,
  .sidebarUserInfo-status:hover {
    text-decoration: none;
    color: var(--black);
    opacity: 1;
    transition: 0.2s;
  }
}
.ads-text-box,
.ads-text-box:focus {
  background-color: theme-color-level('info', -4);
}

.border-top {
  border-top: solid 1px $card-border-color;
}

.border-bottom {
  border-bottom: solid 2px $gray-300;
}

.user-view {
  cursor: pointer;
  font-weight: 600;
}

.userlist-item {
  color: $text-muted;
}

.message {
  word-wrap: break-word;
  padding-bottom: 1px;
  padding-left: 5px;
}

.message-block {
  padding: 1px 0;
  &:not(:last-child) {
    border-bottom: solid 1px $card-border-color;
  }
}

.message-own {
  background-color: rgba($gray-300, 0.7);
}

.message-warn {
  background-color: $danger;
  color: color-contrast($danger);
  .bbcode {
    .whiteText,
    .blackText {
      color: color-contrast($danger);
    }
  }
}

.messages {
  position: relative;
}

.messages-both {
  .message-ad:not(.message-score) {
    --bs-bg-opacity: 0.3;
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
    padding: 0 2px 2px 2px;
    box-shadow: $gray-500 -2px -2px 2px inset;
  }
}

.message-event {
  color: $text-muted;
}

.message-time {
  color: $text-dark;
}

.message-ad {
  &:not(.expanded) {
    max-height: 100px;
    overflow: hidden;
    position: relative;

    > .expand {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 5px;
      position: absolute;
      top: 70px;
      width: 100%;
      left: 0;
      height: 30px;
      cursor: pointer;
      background: linear-gradient(rgba($white, 0), $white);

      &:hover {
        background: linear-gradient(rgba($white, 0) 50%, $white);
      }
    }
  }
  > .expand {
    display: none;
  }
}

.message-highlight {
  background-color: color.scale($color: $success, $alpha: -50%);
}

.message-action .bbcode {
  font-style: italic;
  i,
  em {
    font-style: normal;
  }
}

.last-read {
  border-bottom: solid 2px theme-color-level('success', -2) !important;
}

.fas.active {
  color: theme-color('success');
}

$genders: (
  'shemale': #cc66ff,
  'herm': #9b30ff,
  'none': $gray-500,
  'female': #ff6699,
  'male': #6699ff,
  'male-herm': #007fff,
  'transgender': #ee8822,
  'cunt-boy': #00cc66
);

@each $gender, $color in $genders {
  .gender-#{$gender} {
    color: $color;
  }

  .message-event .gender-#{$gender} {
    color: color.scale($color, $lightness: 5%);
  }
}

// When user requests vanilla gender colours, force the original palette
.vanillaGenderColors {
  @each $gender, $color in $genders {
    .gender-#{$gender} {
      color: $color !important;
    }

    .message-event .gender-#{$gender} {
      color: color.scale($color, $lightness: 5%) !important;
    }

    .gender-#{$gender}.user-bookmark,
    .message-event .gender-#{$gender}.user-bookmark {
      color: #66cc33;
    }
  }
}

@each $colorName,
  $colorValue
    in (
      'red': $red-color,
      'blue': $blue-color,
      'green': $green-color,
      'yellow': $yellow-color,
      'cyan': $cyan-color,
      'purple': $purple-color,
      'brown': $brown-color,
      'pink': $pink-color,
      'gray': $gray-color,
      'orange': $orange-color,
      'white': $white-color,
      'black': $black-color
    )
{
  .#{$colorName}NameText {
    color: $colorValue;
  }
}

.user-bookmark,
.message-event .user-bookmark {
  color: #66cc33;
}

#character-page-sidebar {
  margin-top: 0; // Fix up hack for merging the header on the character page, which doesn't work on chat.
}

.profile-viewer {
  width: 98%;
  max-width: 98%;
  & > .modal-content {
    height: 100%;
  }
}

#window-tabs {
  .hasNew {
    background-color: theme-color-level('warning', -2);
    border-color: theme-color-level('warning', -4);
    color: color-contrast($warning);
    &:hover {
      background-color: theme-color-level('warning', -4);
    }
  }
  .tab:not(.active):not(:hover) {
    opacity: 0.5;
  }
}

.btn-text {
  margin-left: 3px;
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.list-group.conversation-nav .list-group-item {
  margin: 1px 0px 1px 0px;
  border-radius: 4px;
  //@each $color, $value in $theme-colors {
  //&.list-group-item-#{$color} {
  //color: color-yiq($value);
  //}
  //}
}

.logs-fab {
  position: absolute;
  top: 47px;
  z-index: 10;
  padding: 12px;
  left: 50%;
  margin-left: -20px;
  border-radius: 100%;
  line-height: 0;
  box-shadow: 0 1px 4px #000;
}

.nav-link {
  cursor: pointer;
}
