@use 'sass:math';

.note-folder {
  display: flex;
  width: 100%;
  .note-folder-total,
  .note-folder-unread {
    width: 3.5rem;
    text-align: center;
  }
  .note-folder-unread {
    font-weight: bold;
  }
  .note-folder-name {
    flex: 1;
  }
}

.conversation-from-me,
.conversation-from-them {
  margin-bottom: 5px;
  max-width: percentage(math.div($grid-columns - 4, $grid-columns));
  word-wrap: break-word;
}

.conversation-from-me {
  margin-right: percentage(math.div(4, $grid-columns));
  background-color: $note-conversation-you-bg;
  color: $note-conversation-you-text;
  border-color: $note-conversation-you-border;
  //text-align: left;
}

.conversation-from-them {
  margin-left: percentage(math.div(4, $grid-columns));
  background-color: $note-conversation-them-bg;
  color: $note-conversation-them-text;
  border-color: $note-conversation-them-border;
  //text-align: right;
}

.note-conversation-you {
  max-width: percentage(math.div($grid-columns - 4, $grid-columns));
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 10px;
  margin-right: percentage(math.div(4, $grid-columns));
  //text-align: left;
}

.note-conversation-them {
  max-width: 66.66%;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: percentage(math.div(4, $grid-columns));
  //text-align: right;
}
