node_modules/
/electron/app
/electron/dist
/electron/release_artifacts
/mobile/www
/webchat/dist

/electron/adblocker.bin

.idea/

.DS_Store



test.ts

#### VSCode/Codium ####
## Many of these artifacts are not ignored from experience, but on sound advice.
## Because there is no enforced editor, pushing settings and extensions on
#+ other vscode users doesn't make any sense, especially since it risks
#+ overwriting an individual's personal settings for this repo. If there's
#+ valid reason to propogate any vscode config file, petition for it by filing
#+ an issue and a discussion can be started.

## Configs with potentially shareable settings:
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
#!.vscode/*.code-snippets

.vscode/

# Built Visual Studio Code Extensions
*.vsix

# Ignore all local history of files
.history/
.ionide
#### End of VisualStudioCode ####
