node_modules/
/electron/app
/electron/dist
/mobile
/webchat/dist

/electron/adblocker.bin
electron/release_artifacts/**
.idea/
.husky/**

.prettierignore
.gitignore
.DS_Store



test.ts

**/pnpm-lock.yaml
