@use 'sass:color';

// Base colors, used for pretty much everything.
// On dark based themes these are inverted in order to cooperate with bootstrap which assumes that all themes are light based.
$gray-base: #060404;
$white: $gray-base;
$gray-100: color.scale($gray-base, $lightness: 10%);
$gray-200: color.scale($gray-base, $lightness: 20%);
$gray-300: color.scale($gray-base, $lightness: 30%, $saturation: 10%);
$gray-400: color.scale($gray-base, $lightness: 40%, $saturation: 10%);
$gray-500: color.scale($gray-base, $lightness: 50%, $saturation: 10%);
$gray-600: color.scale($gray-base, $lightness: 60%, $saturation: 10%);
$gray-700: color.scale($gray-base, $lightness: 70%, $saturation: 10%);
$gray-800: color.scale($gray-base, $lightness: 80%);
$gray-900: color.scale($gray-base, $lightness: 90%);
$black: #fff;

$mars-red: #c1666b;
$mars-green: #00a676;
$mars-blue: #32cbff;
$mars-yellow: #f7cb15;
$mars-purple: #8e80da;
$mars-orange: #edb458;
$mars-magenta: #c86fc9;
$mars-cyan: #4bc6b9;
$mars-brown: #b89383;
$mars-pink: #ffadc6;

// Theme and brand colors
$primary: #546f80;
$secondary: $gray-400;
$success: $mars-green;
$info: color.scale($mars-blue, $lightness: -60%);
$warning: $mars-orange;
$danger: $mars-pink;
$light: $gray-200;
$text-muted: $gray-500;
$text-dark: $gray-600;

// Core page element colors
$body-bg: $gray-100;
$link-color: $gray-800;
$link-hover-color: color.scale($link-color, $lightness: 15%);
$dropdown-bg: $gray-200;
$dropdown-divider-bg: $gray-300;

// Modal Dialogs
$modal-backdrop-bg: $white;
$modal-content-bg: $gray-200;
$modal-header-border-color: $gray-300;

// Fix YIQ(automatic text contrast) preferring black over white on dark themes.
$yiq-text-light: $gray-800;

$component-active-color: $yiq-text-light;
// Reduce default padding slightly between columns in grids.
$grid-gutter-width: 20px;

// Form Elements
$input-bg: $gray-200;
$input-color: $black;
$custom-select-bg: $gray-200;

// List groups
$list-group-bg: $gray-200;

// Pagination
$pagination-active-color: $link-color;

// F-List specific color helpers to help make monochromatic themes easier to deal with.
$text-background-color: $gray-200;
$text-background-color-disabled: $gray-100;

// F-List Rising
$scoreUnicornMatchBg: rgb(0, 173, 173);
$scoreUnicornMatchFg: rgb(29, 154, 154);
$scoreMatchBg: rgb(0, 142, 0);
$scoreMatchFg: rgb(0, 113, 0);
$scoreWeakMatchBg: rgb(0, 80, 0);
$scoreWeakMatchFg: rgb(0, 64, 0);
$scoreWeakMismatchBg: rgb(152, 134, 0);
$scoreWeakMismatchFg: rgb(142, 126, 0);
$scoreMismatchBg: rgb(171, 0, 0);
$scoreMismatchFg: rgb(128, 0, 0);
$scoreTitleColor: $black;
$scoreMinimizeButtonFg: rgba($black, 0.7);
$scoreMinimizeButtonBg: rgba($white, 0.2);
$scoreReportBg: rgba(0, 0, 0, 0.2);

$scoreFadedUnicornMatchBg: color.scale($scoreUnicornMatchBg, $alpha: -60%);
$scoreFadedUnicornMatchFg: color.scale($scoreUnicornMatchFg, $alpha: -60%);
$scoreFadedMatchBg: color.scale($scoreMatchBg, $alpha: -60%);
$scoreFadedMatchFg: color.scale($scoreMatchFg, $alpha: -60%);
$scoreFadedWeakMatchBg: color.scale($scoreWeakMatchBg, $alpha: -60%);
$scoreFadedWeakMatchFg: color.scale($scoreWeakMatchFg, $alpha: -60%);
$scoreFadedWeakMismatchBg: color.scale($scoreWeakMismatchBg, $alpha: -60%);
$scoreFadedWeakMismatchFg: color.scale($scoreWeakMismatchFg, $alpha: -60%);
$scoreFadedMismatchBg: color.scale($scoreMismatchBg, $alpha: -60%);
$scoreFadedMismatchFg: color.scale($scoreMismatchFg, $alpha: -60%);

$scoreStandoutMatchBorderColor: #048a04;
$scoreStandoutMatchBgColor: rgba(0, 110, 0, 0.47);
$scoreStandoutWeakMatchBorderColor: #014a01;
$scoreStandoutWeakMatchBgColor: rgba(0, 79, 0, 0.4);
$scoreStandoutNeutralBorderColor: #555;
$scoreStandoutWeakMismatchBorderColor: rgb(138, 123, 0);
$scoreStandoutWeakMismatchBgColor: rgba(208, 188, 0, 0);
$scoreStandoutMismatchBorderColor: #841a1a;

$characterImageWrapperBg: rgba(0, 0, 0, 0.2);
$characterGuestbookPostBg: rgba(0, 0, 0, 0.15);
$characterGuestbookPostBorderColor: rgba(255, 255, 255, 0.1);
$characterGuestbookReplyBg: rgba(0, 0, 0, 0.1);
$characterGuestbookTimestampFg: rgba(255, 255, 255, 0.3);
$characterKinkCustomColor: $mars-yellow;
$characterKinkCustomBorderColor: rgba(255, 255, 255, 0.1);
$characterKinkStockColor: #ededf6;
$characterKinkStockHighlightedColor: $black;
$characterInfotagColor: rgba(255, 255, 255, 0.7);

$messageTimeBgColor: $gray-300;
$messageTimeFgColor: $gray-800;

$headerBackgroundMaskColor: $gray-200;

$linkForcedColor: white;
$tabSecondaryFgColor: rgba(255, 255, 255, 0.5);

@import 'invert';
