@use 'sass:color';

$gray-base: #1b181b;
$white: $gray-base;
$gray-100: color.scale($gray-base, $lightness: 10%);
$gray-200: #292329;
$gray-300: color.scale($gray-base, $lightness: 30%, $saturation: 10%);
$gray-400: color.scale($gray-base, $lightness: 40%, $saturation: 10%);
$gray-500: color.scale($gray-base, $lightness: 50%, $saturation: 10%);
$gray-600: color.scale($gray-base, $lightness: 60%, $saturation: 10%);
$gray-700: color.scale($gray-base, $lightness: 70%, $saturation: 10%);
$gray-800: #f7f3f7;
$gray-900: color.scale($gray-base, $lightness: 90%);
$black: #f7f3f7;

$yiq-contrasted-threshold: 150;
$yiq-text-light: $black;
$yiq-text-dark: $gray-base;
$component-active-color: $yiq-text-light;

$rose-red: #ff3b30;
$rose-green: #91ebaf;
$rose-blue: #0a84ff;
$rose-yellow: #ff9500;
$rose-purple: #bd93f9;
$rose-orange: #ff9500;
$rose-magenta: #61364b;
$rose-cyan: #81ebed;
$rose-brown: #4a2330;
$rose-pink: #f8d7da;

$primary: #61364b;
$secondary: #8a7a8a;
$success: $rose-green;
$info: color.scale($rose-blue, $lightness: -20%);
$warning: #fce0a5;
$danger: #ffcdd2;
$light: $gray-200;
$text-muted: #898689;
$text-dark: $gray-600;

$body-bg: $gray-100;
$link-color: #be8ba4;
$link-hover-color: color.scale($link-color, $lightness: 15%);
$dropdown-bg: $gray-200;
$dropdown-divider-bg: #2f282f;

$modal-backdrop-bg: $white;
$modal-content-bg: $gray-200;
$modal-header-border-color: #2f282f;

$component-active-color: $gray-800;
$grid-gutter-width: 20px;

$input-bg: $gray-200;
$input-color: $black;
$custom-select-bg: $gray-200;

$list-group-bg: $gray-200;

$pagination-active-color: $link-color;

$text-background-color: $gray-200;
$text-background-color-disabled: $gray-100;

$scoreUnicornMatchBg: color.scale($rose-cyan, $lightness: -60%);
$scoreUnicornMatchFg: color.scale($rose-cyan, $lightness: -20%);
$scoreMatchBg: color.scale($rose-green, $lightness: -60%);
$scoreMatchFg: color.scale($rose-green, $lightness: -20%);
$scoreWeakMatchBg: color.scale($rose-green, $lightness: -70%);
$scoreWeakMatchFg: color.scale($rose-green, $lightness: -40%);
$scoreWeakMismatchBg: color.scale(#fce0a5, $lightness: -60%);
$scoreWeakMismatchFg: #2a0d18;
$scoreMismatchBg: #a8153c;
$scoreMismatchFg: #a8153c;
$scoreTitleColor: $black;
$scoreMinimizeButtonFg: rgba($black, 0.7);
$scoreMinimizeButtonBg: rgba($white, 0.2);
$scoreReportBg: rgba(0, 0, 0, 0.2);

$scoreFadedUnicornMatchBg: color.scale($scoreUnicornMatchBg, $alpha: -60%);
$scoreFadedUnicornMatchFg: color.scale($scoreUnicornMatchFg, $alpha: -60%);
$scoreFadedMatchBg: color.scale($scoreMatchBg, $alpha: -60%);
$scoreFadedMatchFg: color.scale($scoreMatchFg, $alpha: -60%);
$scoreFadedWeakMatchBg: color.scale($scoreWeakMatchBg, $alpha: -60%);
$scoreFadedWeakMatchFg: color.scale($scoreWeakMatchFg, $alpha: -60%);
$scoreFadedWeakMismatchBg: color.scale($scoreWeakMismatchBg, $alpha: -60%);
$scoreFadedWeakMismatchFg: color.scale($scoreWeakMismatchFg, $alpha: -60%);
$scoreFadedMismatchBg: color.scale($scoreMismatchBg, $alpha: -60%);
$scoreFadedMismatchFg: color.scale($scoreMismatchFg, $alpha: -60%);

$scoreStandoutMatchBorderColor: color.scale($rose-green, $lightness: -30%);
$scoreStandoutMatchBgColor: rgba($rose-green, 0.47);
$scoreStandoutWeakMatchBorderColor: color.scale($rose-green, $lightness: -50%);
$scoreStandoutWeakMatchBgColor: rgba($rose-green, 0.3);
$scoreStandoutNeutralBorderColor: #2f282f;
$scoreStandoutWeakMismatchBorderColor: color.scale(#fce0a5, $lightness: -30%);
$scoreStandoutWeakMismatchBgColor: rgba(#fce0a5, 0.2);
$scoreStandoutMismatchBorderColor: color.scale(#ffcdd2, $lightness: -30%);

$characterImageWrapperBg: rgba(0, 0, 0, 0.2);
$characterGuestbookPostBg: rgba(0, 0, 0, 0.15);
$characterGuestbookPostBorderColor: rgba(255, 255, 255, 0.1);
$characterGuestbookReplyBg: rgba(0, 0, 0, 0.1);
$characterGuestbookTimestampFg: rgba(255, 255, 255, 0.3);
$characterKinkCustomColor: $rose-yellow;
$characterKinkCustomBorderColor: rgba(255, 255, 255, 0.1);
$characterKinkStockColor: #e4d6e4;
$characterKinkStockHighlightedColor: $black;
$characterInfotagColor: rgba(255, 255, 255, 0.7);

$messageTimeBgColor: $gray-300;
$messageTimeFgColor: $gray-800;

$headerBackgroundMaskColor: $gray-200;

$linkForcedColor: $rose-cyan;
$tabSecondaryFgColor: rgba(255, 255, 255, 0.5);

@import 'invert';
