// Theme color background
@function theme-color-bg($color-name: 'primary') {
  @return theme-color-level($color-name, -10);
}

// Theme color border
@function theme-color-border($color-name: 'primary') {
  @return theme-color-level($color-name, -9);
}

// Convert px to rem
@function rem($size-in-px) {
  $rem-size: $size-in-px / 16;
  @return #{$rem-size}rem;
}

// Convert px to em
@function em($size-in-px, $context: 16) {
  $em-size: $size-in-px / $context;
  @return #{$em-size}em;
}

// Color contrast function
@function color-contrast($color, $dark: $dark-color, $light: $light-color) {
  $color-brightness: (red($color) * 299 + green($color) * 587 + blue($color) * 114) / 1000;
  
  @if $color-brightness > 128 {
    @return $dark;
  } @else {
    @return $light;
  }
}

// Get color from map
@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }
  
  @warn "Unknown `#{$key}` in $colors.";
  @return null;
} 