@import '~bootstrap/scss/functions';
@import '../../functions';
@import '../variables/light_variables';
@import '~bootstrap/scss/variables';
@import '../../flist_derived';
@import '../variables/light_derived';

// Apply variables to theme.
@import '../chat';

* {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $gray-500;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8);
    background-color: $gray-300;
    &:hover {
      background-color: $gray-500;
    }

    &:active {
      background-color: $gray-700;
    }
  }
}

.quick-jump-result.selected {
  color: #fff;
}

.colorblindMode {
  @import '../colorblind';
  @import '../../rising';

  @each $varName, $value in $risingVariables {
    --#{$varName}: #{$value};
  }
}
.list-group-item-warning {
  background-color: theme-color-level('warning', -3);
  border-color: theme-color-level('warning', -3);
  //color: color-yiq(theme-color('warning'));
  color: theme-color-level('warning', 6);
  &:hover {
    background-color: theme-color-level('warning', -4);
  }
}

.list-group-item-danger {
  background-color: theme-color-level('danger', -3);
  border-color: theme-color-level('danger', -3);
  //color: color-yiq(theme-color('warning'));
  color: theme-color-level('danger', 6);
  &:hover {
    background-color: theme-color-level('danger', -4);
  }
}

:root {
  color-scheme: light;
}
